.drawer {
  border-radius: 20px 20px 0px 0px;
  height: 550px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: -300px;
  transition: transform 0.3s ease;
  border-top: 2px solid #0861d1;
  text-align: center;
}
.drawer.open {
  transform: translateY(-250px);
}
.line {
  width: 3em;
  top: 10px;
}
.pieChart {
  margin: auto;
  margin-top: 2em;
  width: 150px;
}
